<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New order information</h1>
    <p>
      Person name: <%= @order.name %>.<br>
    </p>
    <p>Person email: <%= @order.email %></p>
    <p>CV choice: <%= @order.choice %></p>
    <p>Message: <%= @order.message %></p>
  </body>
</html>
